@import url("custom.css");
/*
*	resets and base style
*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	list-style: none;
	color: inherit;
	font-family: var(--font-body) "sans-serif";
	border: none;
	font-size: 100%;
	background: none;
	outline: none;
	-webkit-appearance: none;
	-webkit-text-size-adjust: none;
	-ms-text-size-adjust: 100%;
}

html {
	height: 100%;
	width: 100%;
	margin: 0 auto;
	background: #fff linear-gradient(90deg, rgba(0, 0, 0, .2), rgba(0, 0, 0 ,.15), rgba(0, 0, 0, .1));
}

body {
	background-color: var(--main-grey-color);
	color: var(--main-dark-color);
	font-size: var(--base-font-size);
	cursor: default;
	display: inline-flex;
	flex-direction: column;
	min-height: 100%;
	min-width: 100%;
}

#menubar {
	z-index: 2000;
	background-color: var(--main-bright-color);
	background-image: url("brand.png");
	background-position: 10px center;
	background-size: 210px 48px;
	background-repeat: no-repeat;
	padding: 0 1em 0 15rem;
	min-height: var(--header-height, 4rem);
	display: flex;
	align-items: center;
	color: var(--secondary-bright-color);
	flex: 0;
	width: 100%;
	box-shadow: 0 2px 5px var(--main-dark-color);
	transition: box-shadow .2s;
}

#menubar > * {
	flex: 1 1 auto;
}

#menubar h2 {
	display: none;
}

#menubar > .hostname > a {
	display: none;
}

#indicators {
	flex: 1 1 25%;
	text-align: right;
}

#indicators > * {
	background-color: var(--secondary-bright-color);
	color: var(--main-bright-color);
	display: inline-block;
	font-size: .85em;
	font-weight: bold;
	line-height: 2em;
	padding: 0 .6em;
	margin: .125em;
	border-radius: .2em;
	text-transform: uppercase;
	cursor: pointer;
	white-space: nowrap;
}

#indicators > [data-style="inactive"] {
	background-color: var(--main-bright-color);
	color: var(--secondary-bright-color);
	border: 2px solid var(--secondary-bright-color);
	line-height: calc(2em - 4px);
	padding: 0 calc(.6em - 2px);
}
/*
*	modemenu
*/
#modemenu {
	background: var(--main-bright-color);
	padding: .5rem 1rem;
	display: flex;
	align-items: center;
	color: var(--secondary-bright-color);
	box-shadow: inset 0 0 1px var(--main-dark-color);
	font-size: 1rem;
	flex-wrap: wrap;
}

#modemenu > * {
	margin: .125rem;
}

#modemenu > .active {
	font-weight: bold;
	border-bottom: 2px solid var(--secondary-bright-color);
}
/*
*	The main style.
*/
.main {
	flex-direction: row;
	display: inline-flex;
	flex: 1 0 auto;
}
/*
*	Login Page
*/
body[data-page=""] .main-right {
	width: 100%;
	text-align: center;
}

body[data-page=""] #maincontent {
	display: inline-block;
	padding: 2rem 4rem;
	margin-top: 2rem;
	min-width: 49rem;
	background-color: var(--secondary-bright-color);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);
	text-align: left;
}

body[data-page=""] footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}
/*
*	The main-left style.
*/
#mainmenu {
	flex: 1 1 15rem;
	max-width: 250px;
	background-color: var(--secondary-bright-color);
	color: var(--main-dark-color);
	padding: 1em 0 0;
}

#mainmenu:empty {
	max-width: 0;
	transition: all .2s ease-in-out;
}

#mainmenu > ul {
	position: sticky;
	top: 0;
}

#mainmenu ul > li {
	list-style: none;
}

#mainmenu > ul > li a {
	display: block;
	text-decoration: none;
	white-space: nowrap;
	color: var(--main-dark-color);
}

#mainmenu > ul > li:nth-last-child(1) > a {
	margin: .5em 0;
}

#mainmenu > ul > li > a {
	padding: .5em 1em;
	font-size: 1.5em;
	cursor: default;
}

#mainmenu > ul > li > ul {
	max-height: 0;
	overflow: hidden;
	transition: max-height .1s ease-in-out;
}

#mainmenu > ul > li.active > ul {
	max-height: 3000px !important;
	transition: max-height 1.5s ease-in-out;
}

#mainmenu li > a:hover {
	background: var(--secondary-grey-color)
}

#mainmenu > ul > li > ul > li > a {
	padding: .5em 2.5em;
	cursor: pointer;
}

#mainmenu > ul > li > ul > li.active > a {
	background-color: var(--main-bright-color);
	color: white;
}
/*
*	main-right
*/
.main-right {
	flex: 10 10 calc(100% - 15rem);
}
/*
*	footer style.
*/
footer {
	text-align: right;
	padding: 1em;
	text-shadow: 0px 0px 2px var(--secondary-dark-color);
	color: var(--secondary-dark-color);
}

footer > a {
	color: var(--secondary-dark-color);
	text-decoration: none;
}
/*
*	darkMask
*/
.darkMask {
	position: fixed;
	z-index: 99;
	display: none;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .56);
}
.darkMask.active {
	display: block;
}
/*
*	Styles for container.
*/
#maincontent {
	padding: 2em 2em 1em;
}

#maincontent > div:first-of-type:not(#tabmenu),
#maincontent > div#tabmenu:not(:first-of-type) {
	margin-top: 0;
}
/*
 *	modal
 */
body.modal-overlay-active {
	overflow: hidden;
}

body.modal-overlay-active #modal_overlay {
	left: 0;
	right: 0;
	opacity: 1;
}

#modal_overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: -10000px;
	right: 10000px;
	background: rgba(0, 0, 0, .7);
	z-index: 10000;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
	transition: opacity .125s ease-in;
	opacity: 0;
}

#modal_overlay > .modal {
	width: 70%;
	margin: 10% auto 5rem auto;
	background: var(--secondary-bright-color);
	box-shadow: 0 0 3px 1px var(--main-bright-color);
	padding: 1rem;
	border-radius: .2rem;
	display: flex;
	flex-direction: column;
}

.modal > h4:first-child {
	padding: .5rem;
	margin: -1rem -1rem .5rem;
	background: var(--main-bright-color);
	color: var(--main-dark-color);
	border-radius: .2rem .2rem 0 0;
}

.modal > *:first-child:last-child {
	margin: .5em 0 !important;
}

.modal .cbi-section > legend:first-child { font-size: 120%; }
/*
*	table layout
*/
table {
	display: table;
	width: 100%;
	border: 1px solid var(--main-grey-color);
	margin: 0 0 1rem 0;
	position: relative;
}

tr {
	display: table-row;
}

trtable-titles,
tr.cbi-section-table-titles {
	background-color: var(--secondary-grey-color) !important;
}

tr[data-title]::before {
	content: attr(data-title);
	display: table-cell;
	padding: .5em;
	white-space: normal;
	vertical-align: middle;
	text-align: center;
	font-weight: bold;
}

tr.drag-over-above {
	box-shadow: 0 -6px 6px var(--main-bright-color);
}

tr.drag-over-below {
	box-shadow: 0 6px 6px var(--main-bright-color);
}

tr.placeholder {
	position: relative;
	height: 4rem;
	background-color: var(--third-grey-color) !important;
}

tr.placeholder td[data-title]::before {
	display: none;
}

tr.placeholder > td {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	text-align: center;
	line-height: 3rem;
	background: inherit;
	font-size: 90%;
	opacity: .8;
}

th, td {
	display: table-cell;
	padding: .5rem;
	vertical-align: middle;
	text-align: center;
}

th {
	font-weight: bold;
}

.cbi-section-table-descr th {
	opacity: .8;
	font-size: 90%;
	font-weight: normal;
}

td input:not([type]),
td input[type="text"],
td input[type="password"],
td select,
td .cbi-dropdown:not(.btn):not(.cbi-button),
td .cbi-dynlist,
td .control-group {
	min-width: auto;
	width: 100%;
}
/*
 * view specific table invariants
 */

#cbi-wireless-wifi-device .ifacebadge {
	flex-direction: column;
	justify-content: space-around;
}

.assoclist td,
[data-page="admin-status-overview"] td {
	font-size: .9rem;
	vertical-align: middle;
}

.assoclist td:nth-of-type(3) > span {
	display: block;
	max-width: 270px;
	font-size: .8rem;
}

.assoclist td:nth-of-type(5) > span {
	font-size: .8rem;
}

.assoclist td > .ifacebadge {
	flex-wrap: wrap;
	justify-content: space-around;
	max-width: 120px;
	padding: .2em;
}

.assoclist td > .ifacebadge::after {
	overflow: hidden;
	text-overflow: ellipsis;
}

.assoclist td > .ifacebadge > img {
	margin: 0 25px;
}

.assoclist td > .ifacebadge[data-ssid][data-ifname] > span {
	display: none;
}

.assoclist td > .ifacebadge[data-ssid][data-ifname]::after {
	content: attr(data-ssid) " (" attr(data-ifname) ")";
}

[data-page="admin-status-iptables"] div.right {
	margin: -1rem 0 .2rem !important;
}

[data-page="admin-network-network"] table td:nth-of-type(2) {
	text-align: left;
	line-height: 1.25;
}

[data-page="admin-network-wireless"] .cbi-section-actions > div {
	display: flex;
}

[data-page="admin-network-wireless"] .cbi-section-actions > div > * {
	flex: 1;
}

[data-page="admin-status-processes"] table td:nth-of-type(3),
table td[data-title="DUID"] {
	word-break: break-word;
}
/*
*	uci changelog
*/
.uci-change-list {
	font-size: 90%;
	white-space: pre;
	overflow: hidden;
}

.uci-change-list del,
.uci-change-list ins,
.uci-change-list var,
.uci-change-legend-label del,
.uci-change-legend-label ins,
.uci-change-legend-label var {
	text-decoration: none;
	font-family: monospace;
	font-style: normal;
	padding: 2px;
	display: block;
	line-height: 15px;
	margin-bottom: 1px;
}

.uci-change-list h5 {
	margin: .5em 0 .25em 0;
}

.uci-change-list ins,
.uci-change-legend-label ins {
	border: 1px solid var(--main-green-color);
	background-color: var(--secondary-green-color);
}

.uci-change-list del,
.uci-change-legend-label del {
	border: 1px solid var(--error-color);
	background-color: var(--danger-color);
}

.uci-change-list var,
.uci-change-legend-label var {
	border: 1px solid var(--secondary-dark-color);
	background-color: transparent;
}

.uci-change-list var ins,
.uci-change-list var del {
	display: inline-block;
	border: none;
	width: 100%;
	padding: 0;
}

.uci-change-legend {
	margin: .5em 0 0 0;
	display: flex;
	flex-wrap: wrap;
}

.uci-change-legend-label {
	flex: 1 1 10em;
	white-space: nowrap;
}

.uci-change-legend-label > ins,
.uci-change-legend-label > del,
.uci-change-legend-label > var {
	float: left;
	margin-right: 4px;
	width: 10px;
	height: 10px;
	display: block;
	position: relative;
}

.uci-change-legend-label var ins,
.uci-change-legend-label var del {
	max-height: 0;
	border: none;
}

.uci-change-list > del,
.uci-change-list > ins,
.uci-change-list > var {
	margin: .5rem 0;
}
/*
 * alignment helpers
 */
.left {
	text-align: left !important;
}

.right {
	text-align: right !important;
}

.center {
	text-align: center !important;
}

.top {
	vertical-align: top !important;
}

.bottom {
	vertical-align: bottom !important;
}

.middle {
	vertical-align: middle !important;
}

.nowrap {
	white-space: nowrap !important;
}

.hidden {
	display: none !important;
}
/*
 * legacy hacks
 */

[width="33%"] {
	width: 33%;
	max-width: 33%;
}

[width="50%"] {
	width: 50%;
	max-width: 50%;
}

[data-name="_freq"] select {
	min-width: auto;
}

.cbi-value-field > div:first-child + br {
	display: none;
}
/*
 * typography
 */
h1, h2, h3, h4, h5, h6,
.cbi-section > legend:first-child {
	font-weight: bold;
	margin: 0 0 1rem 0;
}

strong, b {
	font-weight: bold;
}

h1 { font-size: 160%; }
h2 { font-size: 150%; }
h3 { font-size: 140%; }
h4 { font-size: 130%; }
h5 { font-size: 120%; }
h6 { font-size: 110%; }

.cbi-section > legend:first-child { font-size: 140%; }

p:not(:last-child) {
	margin-bottom: 1em;
}

p > textarea:last-child {
	margin: 0;
}

a {
	text-decoration: underline;
}

abbr {
	color: #005470;
	text-decoration: underline;
	cursor: help;
}

big {
	font-size: 110%;
}

code {
	font-family: monospace;
	color: var(--main-bright-color);
}

pre {
	font-family: monospace;
	margin: 0 0 1em 0;
	font-size: .9rem;
	box-shadow: inset 0 0 2px var(--main-dark-color);
	padding: .25rem;
	overflow: auto;
	white-space: pre-wrap;
}

small {
	font-size: 95%;
}

var {
	color: var(--main-dark-color);
	font-weight: bold;
}
/*
 * widgets
 */
.ifacebox, .ifacebadge, .zonebadge {
	display: inline-flex;
	line-height: 1.8em;
	padding: 0 .25em;
	margin: .25em;
	box-shadow: 0px 0px 2px var(--main-dark-color);
	border-radius: .2em;
	overflow: hidden;
	font-size: .8rem;
	background: var(--secondary-bright-color);
	align-items: center;
	color: var(--secondary-dark-color);
	vertical-align: middle;
}

.zonebadge > .ifacebadge {
	margin: .125em -.125em .125em .35em;
}

.zonebadge > .ifacebadge > img
{
	margin: .125em 0 .125em .25em;
}

.zonebadge .cbi-tooltip {
	padding: .25rem;
	margin: -1.5rem 0 0 -.5rem;
	background: inherit;
}

.ifacebox {
	flex-direction: column;
	padding: 0;
	text-align: center;
	width: 100%;
	max-width: 100px;
}

.ifacebox-head {
	background-color: var(--main-bright-color);
	color: var(--main-dark-color);
	width: 100%;
}

.ifacebox-body {
	text-align: center;
	padding: .3em .25em .25em .25em;
	white-space: nowrap;
}

.ifacebadge {
	display: inline-flex;
	align-items: center;
	white-space: nowrap;
}

.ifacebadge.large {
	line-height: 1.3em;
}

.ifacebadge > img {
	vertical-align: text-bottom;
	margin: .25em;
	height: 16px;
}

.ifacebadge > * {
	margin-left: .25em;
}

.network-status-table {
	display: inline-flex;
	flex-wrap: wrap;
	width: 100%;
	margin: 0 -.2em 1em -.2em;
}

.network-status-table > .ifacebox {
	max-width: none;
	flex: 1 1 45%;
	margin: .25em;
	min-width: 250px;
}

.network-status-table > .ifacebox .ifacebadge {
	font-size: 100%;
	max-width: none;
	flex: 1 1 45%;
	margin: .2em;
}

.network-status-table .ifacebox-body > div {
	display: flex;
	flex-wrap: wrap;
	margin: .3em -.1em -.1em -.1em;
}

.zone-forwards {
	display: flex;
	align-items: center;
}

.zone-forwards > * {
	flex: 1 1 45%;
}

.zone-forwards > span {
	flex-basis: 10%;
	padding: 0 .25rem;
	text-align: center;
}
/*
*	Styles for cbi-tooltip.
*/
.cbi-tooltip-container {
	cursor: help;
}

.cbi-tooltip {
	position: absolute;
	z-index: 10000;
	left: -10000px;
	box-shadow: 0 0 2px var(--error-color);
	border-radius: 2px;
	background: var(--secondary-bright-color);
	white-space: pre;
	padding: 2px 5px;
	opacity: 0;
	transition: opacity .25s ease-in;
	font-size: .8rem;
}

.cbi-tooltip.error {
	color: var(--error-color);
}

.cbi-tooltip-container:hover .cbi-tooltip:not(:empty) {
	left: auto;
	opacity: 1;
	transition: opacity .25s ease-in;
}
/*
*	Styles for cbi-section.
*/
.cbi-section {
	padding: 2rem;
	min-width: inherit;
	line-height: 1;
	background-color: var(--secondary-bright-color);
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);
	-webkit-overflow-scrolling: touch;
}

.cbi-map-tabbed {
	border: 1px solid var(--secondary-grey-color);
	border-top: 0;
}

.cbi-map-tabbed .cbi-section {
	box-shadow: none;
}

.cbi-section + .cbi-section {
	margin-top: 1rem;
}

.cbi-section-node-tabbed {
	padding: 0;
	margin-top: 0;
	border: 1px solid var(--secondary-grey-color);
	border-top: 0;
}
/*
*	The adjacent rows have different colors.
*/
table tr:not(.cbi-rowstyle-1):nth-of-type(2n),
.cbi-rowstyle-2 {
	background-color: var(--secondary-bright-color);
}

table tr:not(.cbi-rowstyle-2):nth-of-type(2n+1),
.cbi-rowstyle-1 {
	background-color: var(--third-grey-color);
}
/*
*	cbi-progressbar
*/
.cbi-progressbar {
	border-radius: .15em;
	position: relative;
	min-width: 20rem;
	height: 1.5em;
	border: thin solid var(--secondary-dark-color);
	overflow: hidden;
	margin: .125rem 0;
}

.cbi-progressbar > div {
	background: var(--main-bright-color);
	height: 100%;
	transition: width .25s ease-in;
	width: 0%;
}

.cbi-progressbar::after {
	position: absolute;
	bottom: 0;
	top: 0;
	right: 0;
	left: 0;
	text-align: center;
	text-shadow: 0 0 2px var(--secondary-bright-color);
	content: attr(title);
	white-space: nowrap;
	line-height: 1.5em;
}
/*
*	Styles for tabmenu.
*/
#tabmenu {
	margin: -2em -2em 2em;
}

#tabmenu > .cbi-tabmenu {
	padding-left: .5em;
}

#tabmenu > .cbi-tabmenu > li[class~="cbi-tab"],
#tabmenu > .cbi-tabmenu > li:hover {
	cursor: pointer;
	color: var(--main-bright-color);
	border-bottom: .125em solid var(--main-bright-color);
}

.cbi-tabmenu {
	background-color: var(--secondary-grey-color);
	border: 1px solid var(--secondary-grey-color);
	border-bottom: 0 solid var(--secondary-bright-color);
}

.cbi-tabmenu > li {
	display: inline-block;
	white-space: nowrap;
	opacity: 1;
	max-height: none;
	overflow: visible;
}

.cbi-tabmenu > li:hover {
	background-color: var(--third-grey-color);
}

.cbi-tabmenu > li > a {
	color: var(--main-dark-color);
	padding: .6em 1em;
	line-height: 2.5em;
	text-decoration: none;
}

.cbi-tabmenu > .cbi-tab {
	background-color: var(--secondary-bright-color);
}
/*
*	data-tab
*/
[data-tab] {
	opacity: 0;
	max-height: 0;
	transition: opacity .25s ease-in-out;
	overflow: hidden;
}

[data-tab-active="true"] {
	opacity: 1;
	height: auto;
	max-height: none;
	overflow: visible;
	margin-top: 0 !important;
}

[data-tab-active="false"],
.cbi-map-tabbed > :not([data-tab-active]),
[data-initialized] > :not([data-tab-active]) {
	margin: 0 !important;
	padding: 0 !important;
}
/*
*	Style for message.
*/
.alert-message:not(.modal) {
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .16), 0 0 2px 0 rgba(0, 0, 0, .12);
	padding: 1em;
	margin: 1em 0;
	background-color: var(--warning-color);
	color: var(--main-dark-color);
	transition: opacity .4s ease;
}

.alert-message + .alert-message {
	margin: -.5em 0 1em 0;
}

.alert-message.info {
	background-color: var(--info-color) !important;
}

.alert-message.notice {
	background-color: var(--notice-color) !important;
}

.alert-message.warning {
	background-color: var(--warning-color) !important;
}

.alert-message.danger {
	background-color: var(--danger-color) !important;
}

.alert-message.error {
	background-color: var(--error-color) !important;
}

.alert-message.success {
	background-color: var(--success-color) !important;
}

.alert-message .btn {
	background: inherit;
	box-shadow: 0 0 2px var(--main-bright-color);
}

.alert-message .btn:hover {
	box-shadow: 0 0 4px 1px var(--main-bright-color);
}
/*
*	animation
*/
@keyframes fade-in {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

@keyframes fade-out {
	0% { opacity: 1; }
	100% { opacity: 0; }
}

.fade-in {
	animation: fade-in .4s ease;
}

.fade-out {
	animation: fade-out .4s ease;
	opacity: 0;
}
/*
*	forms
*/
button, .btn, .item::after,
input[type="button"] {
	background: transparent none;
	color: var(--main-dark-color);
	line-height: 2em;
	border-radius: .25em;
	cursor: pointer;
	border: 1px solid var(--main-dark-color);
	padding: 0 .6em;
	display: inline-block;
	text-align: center;
	text-transform: uppercase;
	vertical-align: middle;
	white-space: nowrap;
	transition: all .2s ease-in-out;
	-webkit-appearance: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-ms-touch-action: manipulation;
	touch-action: manipulation;
}

.btn:hover,
.btn:focus,
.btn:active,
button:hover,
button:focus,
button:active,
.item:hover::after {
	text-decoration: none;
	background-color: var(--third-grey-color);
	color: var(--main-dark-color);
}

button + button, .btn + .btn, button + .btn, .btn + button, select + button {
	margin-left: .25em;
}

.btn.important {
	background: var(--main-bright-color);
	color: var(--secondary-bright-color);
}

button.active, button:active, .btn.active, .btn:active {
	box-shadow: 0 10px 20px rgba(0, 0, 0, .19), 0 6px 6px rgba(0, 0, 0, .23);
}


button[disabled], button.disabled, .btn[disabled], .btn.disabled {
	cursor: not-allowed;
	pointer-events: none;
	opacity: .6;
	box-shadow: none;
}

.cbi-button-add,
.cbi-button-positive,
.cbi-button-save {
	border-color: #4a4;
	color: #4a4;
}

.cbi-button-action,
.cbi-button-apply,
.cbi-button-edit {
	border-color: #0069d6;
	color: #0069d6;
}

.cbi-button-negative,
.cbi-button-remove,
.cbi-button-reset {
	border-color: var(--error-color);
	color: var(--error-color);
}

input:not([type]),
input[type="text"],
input[type="password"],
select,
.cbi-dropdown:not(.btn):not(.cbi-button),
.cbi-dynlist > .item {
	border: none;
	border-bottom: 2px solid rgba(0, 0, 0, .26);
	box-shadow: none;
	padding: 0;
	min-height: calc(2em + 2px);
	min-width: 20rem;
	font-size: .8rem;
	color: rgba(0, 0, 0, .87);
	background: transparent none;
}

input:not([type]):focus,
input[type="text"]:focus,
input[type="password"]:focus,
select:focus,
.cbi-dropdown:not(.btn):not(.cbi-button):focus,
.cbi-dropdown[open]:not(.btn):not(.cbi-button) {
	border-color: var(--main-bright-color);
}

input[disabled]:not([type]),
input[disabled][type="text"],
input[disabled][type="password"],
select[disabled],
.cbi-dynlist[disabled] {
	opacity: .6;
	pointer-events: none;
}

/*input:not([type]) + .btn, input:not([type]) + button,
input[type="text"] + .btn, input[type="text"] + button,
input[type="password"] + .btn, input[type="password"] + button {
	margin-bottom: 1px;
}*/

input[type="checkbox"] {
	height: 2em;
	vertical-align: middle;
	-moz-appearance: checkbox;
	-webkit-appearance: checkbox;
}

select {
	height: 0;
	-webkit-appearance: menulist;
}
/*
*	Styles for textarea.
*/
textarea {
	width: 100%;
	box-shadow: inset 0 0 1px var(--main-dark-color);
	min-height: 14rem;
	font-family: monospace;
	font-size: .8rem;
	padding: .8rem;
	background: var(--secondary-bright-color);
	color: black;
	border: 1px solid var(--secondary-grey-color);
}

.cbi-input-invalid,
.cbi-input-invalid:focus,
.cbi-value-error input {
	color: var(--error-color) !important;
	border-color: var(--error-color) !important;
}
/*
*	.control-group
*/
.control-group {
	display: inline-flex;
	margin: 0 -.125rem;
	min-width: 20.25rem;
}

.control-group > *,
.control-group > .cbi-dropdown > ul > li {
	justify-content: space-around;
}

.control-group > * {
	margin: .125rem !important;
	min-width: auto !important;
}

.control-group > select,
.control-group > input:not([type]),
.control-group > input[type="text"],
.control-group > input[type="password"] {
	flex: 10;
}

.control-group > select + .btn, .control-group > select + button {
	margin-left: .25em;
}

.control-group > input:not([type]) + .btn, .control-group > input:not([type]) + button,
.control-group > input[type="text"] + .btn, .control-group > input[type="text"] + button,
.control-group > input[type="password"] + .btn, .control-group > input[type="password"] + button {
	/*margin: .125em .125em calc(.125em + 2px) calc(-.125em - .25em) !important;*/
}
/*
 *	cbi-value
 */
.cbi-value {
	display: flex;
	flex-wrap: wrap;
	padding: .6rem 1rem;
	line-height: 1.25;
}

.cbi-value[data-widget="CBI.ContainerValue"] {
	padding: 0;
}

.cbi-value > label:first-child {
	flex: 1 1 35%;
	padding-right: 2em;
	line-height: 2em;
	text-align: right;
}

.cbi-value > .cbi-value-field {
	flex: 2 2 55%;
}

.cbi-value > .cbi-section {
	flex: 1 1 100%;
	padding: 0 1rem !important;
	border: none !important;
	box-shadow: none !important;
}

.cbi-section-node > .cbi-value {
	padding: 0.6rem 0;
}

.cbi-map-descr,
.cbi-tab-descr,
.cbi-section-descr,
.cbi-value-description,
.cbi-value[data-widget="CBI.DummyValue"] > div:first-child {
	opacity: .8;
	color: var(--main-dark-color);
	font-size: small;
	line-height: 1.25;
	padding: .5em 0;
}

.cbi-map-descr,
.cbi-tab-descr,
.cbi-section-descr,
.cbi-section-table,
.cbi-section-create {
	margin: 0 0 1em 0;
}

.cbi-value-description::before {
	font-family: 'icomoon';
	content: "\f059";
	color: var(--main-bright-color);
	margin-right: 0.25rem;
}
/*
*	cbi-dynlist
*/
.cbi-dynlist {
	display: inline-block;
	font-size: 90%;
	line-height: 2em;
	min-width: 20rem;
	flex-wrap: wrap;
}

.cbi-dynlist > * {
	margin: .3em 0;
}

.cbi-dynlist > .item {
	margin-right: 2rem;
	min-width: 0;
	position: relative;
	pointer-events: none;
	word-break: break-all;
}

.cbi-dynlist > .item::after {
	content: "\d7";
	top: 0;
	right: -2rem;
	bottom: 0;
	padding: 0;
	margin: 0 0 -2px 0;
	width: calc(2rem - 2px);
	font-size: .8rem;
	border: 1px solid var(--error-color);
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	color: var(--error-color);
	font-weight: bold;
	pointer-events: all;
}

.cbi-dynlist[disabled] > .item::after {
	pointer-events: none;
}

.cbi-dynlist > .item:hover {
	box-shadow: 0 0 2px var(--main-bright-color);
}

.cbi-dynlist > .add-item {
	flex: 1;
	display: flex;
}

.cbi-dynlist > .add-item > input {
	flex: 1;
	min-width: 18rem;
}

.cbi-dynlist > .add-item > .btn {
	flex: 0 0 2rem;
	margin-bottom: 0;
	text-align: center;
}
/*
*	cbi-dropdown
*/
.cbi-dropdown {
	display: inline-flex !important;
	cursor: pointer;
	padding: 0;
	height: auto;
	position: relative;
}

.cbi-dropdown > ul {
	margin: 0 !important;
	padding: 0;
	list-style: none;
	overflow-x: hidden;
	overflow-y: auto;
	display: flex;
	width: 100%;
	line-height: 1rem;
}

.cbi-dropdown.btn > ul:not(.dropdown) {
	padding: 0 .6em;
	line-height: 2em;
}

.cbi-dropdown.btn.spinning > ul:not(.dropdown) {
	padding-left: 0;
}

.cbi-dropdown.btn > ul.dropdown > li {
	color: var(--main-dark-color);
}

.cbi-dropdown > ul.preview {
	display: none;
}

.cbi-dropdown > .open,
.cbi-dropdown > .more {
	flex-grow: 0;
	flex-shrink: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	padding: 0 .25em;
}

.cbi-dropdown.btn > .open,
.cbi-dropdown.cbi-button > .open {
	padding: 0 .5em;
	margin-left: .5em;
	border-left: 1px solid;
}

.cbi-dropdown > .more,
.cbi-dropdown:not(.btn):not(.cbi-button) > ul > li[placeholder] {
	display: none;
	justify-content: center;
	color: rgba(0, 0, 0, .5);
}

.cbi-dropdown > ul > li {
	display: none;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	flex-shrink: 1;
	flex-grow: 1;
	align-items: center;
	align-self: center;
	color: inherit;
}

.cbi-dropdown > ul.dropdown > li,
.cbi-dropdown:not(.btn):not(.cbi-button) > ul > li {
	padding: .25em;
}

.cbi-dropdown > ul > li .hide-open { display: block; display: initial; }
.cbi-dropdown > ul > li .hide-close { display: none; }

.cbi-dropdown > ul > li[display]:not([display="0"]) {
	border-left: 1px solid #ccc;
}

.cbi-dropdown[empty] > ul {
	display: none;
}

.cbi-dropdown > ul > li > form {
	display: none;
	margin: 0;
	padding: 0;
	pointer-events: none;
}

.cbi-dropdown > ul > li img {
	align-self: center;
	margin-right: .25em;
}

.cbi-dropdown > ul > li input[type="text"] {
	border: none;
	background: var(--secondary-bright-color);
}

.cbi-dropdown[open] {
	position: relative;
}

.cbi-dropdown[open] > ul.dropdown {
	display: block;
	background: var(--secondary-bright-color);
	box-shadow: 0 0 1px var(--main-dark-color), 0 0 4px rgba(0, 0, 0, .7);
	position: absolute;
	z-index: 1100;
	max-width: none;
	min-width: 100%;
	width: auto;
	transition: max-height .125s ease-in;
}

.cbi-dropdown > ul > li[display],
.cbi-dropdown[open] > ul.preview,
.cbi-dropdown[open] > ul.dropdown > li,
.cbi-dropdown[multiple] > ul > li > label,
.cbi-dropdown[multiple][open] > ul.dropdown > li,
.cbi-dropdown[multiple][more] > .more,
.cbi-dropdown[multiple][empty] > .more {
	flex-grow: 1;
	display: flex !important;
}

.cbi-dropdown[empty] > ul > li,
.cbi-dropdown[optional][open] > ul.dropdown > li[placeholder],
.cbi-dropdown[multiple][open] > ul.dropdown > li > form {
	display: block !important;
}

.cbi-dropdown[open] > ul.dropdown > li .hide-open { display: none; }
.cbi-dropdown[open] > ul.dropdown > li .hide-close { display: block; display: initial; }

.cbi-dropdown[open] > ul.dropdown > li {
	border-bottom: 1px solid #ccc;
}

.cbi-dropdown[open] > ul.dropdown > li[selected] {
	background: var(--main-bright-color);
	color: var(--main-dark-color);
}

.cbi-dropdown[open] > ul.dropdown > li.focus {
	background: var(--secondary-grey-color);
}

.cbi-dropdown[open] > ul.dropdown > li:last-child {
	margin-bottom: 0;
	border-bottom: none;
}

.cbi-dropdown[open] > ul.dropdown > li[unselectable] {
	opacity: .7;
}

.cbi-dropdown[open] > ul.dropdown > li > input.create-item-input:first-child:last-child {
	width: 100%;
}

.cbi-dropdown[disabled] {
	pointer-events: none;
	opacity: .6;
}
/*
*	cbi-filebrowser
*/
.cbi-filebrowser {
	max-width: 100%;
	width: 1px;
	box-shadow: 0 0 2px var(--main-dark-color);
	border-radius: .25rem;
	display: flex;
	flex-direction: column;
	opacity: 0;
	height: 0;
	overflow: hidden;
}

.cbi-filebrowser.open {
	min-width: 20rem;
	width: auto;
	opacity: 1;
	height: auto;
	overflow: visible;
	transition: opacity .25s ease-in;
}

.cbi-filebrowser > * {
	max-width: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
	padding: 0 0 .25em 0;
	margin: .25em .25em 0px .25em;
	white-space: nowrap;
	border-bottom: 1px solid var(--main-dark-color);
}

.cbi-filebrowser .cbi-button-positive {
	margin-right: .25em;
}

.cbi-filebrowser > div {
	border-bottom: none;
}

.cbi-filebrowser > ul > li {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.cbi-filebrowser > ul > li a:hover {
	font-weight: bold;
	text-decoration: underline;
}

.cbi-filebrowser > ul > li > div:first-child {
	flex: 10;
	overflow: hidden;
	text-overflow: ellipsis;
}

.cbi-filebrowser > ul > li > div:last-child {
	flex: 3 3 10em;
	text-align: right;
}

.cbi-filebrowser > ul > li > div:last-child > button {
	padding: .125em .25em;
	margin: 1px 0 1px .25em;
}

.cbi-filebrowser .upload {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 0 -.125em .25em -.125em;
	padding: 0 0 .125em 0px;
	border-bottom: 1px solid var(--main-dark-color);
}

.cbi-filebrowser .upload > * {
	margin: .125em;
	flex: 1;
}

.cbi-filebrowser .upload > div > input {
	width: 100%;
}

.cbi-section-actions {
	text-align: right;
}
/*
*	Styles for cbi-page-actions.
*/
.cbi-page-actions {
	flex-wrap: wrap;
	width: 100%;
	justify-content: flex-end;
	margin-bottom: 1em;
	margin-top: 1em;
	border-top: 1px solid var(--third-grey-color);
	padding-top: 1em;
	text-align: right;
}

div[id$=".ipaddr"] > input,
.cbi-value-field > div > input[type="password"] {
	min-width: 18rem;
}

div[id$=".txpower"] {
	flex-wrap: wrap;
	align-items: center;
}

div[id$=".txpower"] > span {
	white-space: nowrap;
	margin-left: .25em;
}

div[id$=".editlist"] {
	flex: 1;
}

[data-errors]::after {
	content: attr(data-errors);
	background: var(--error-color);
	color: var(--secondary-bright-color);
	border-radius: .6rem;
	height: 1rem;
	padding: 0 .25rem;
	font-size: .8rem;
	display: inline-block;
	font-weight: bold;
	min-width: .5rem;
	line-height: 1rem;
	margin: 0 .2rem 0 -.2rem;
	text-align: center;
}

@keyframes spin {
	100% { transform: rotate(360deg); }
}

.spinning {
	position: relative;
	padding-left: 2.1em !important;
}

.spinning::before {
	font-family: 'icomoon' !important;
	color: var(--secondary-dark-color);
	position: absolute;
	display: block;
	align-items: center;
	top: 0;
	bottom: 0;
	left: .6em;
	width: 1em;
	height: 1em;
	line-height: normal;
	font-size: 1.25em;
	animation: spin 1s linear infinite;
	content: "\e603";
	margin: auto;
}

button.spinning, .btn.spinning {
	padding-left: 1.6em !important;
}

button.spinning::before, .btn.spinning::before {
	filter: invert(1);
	left: .2em;
}

#view > div.spinning:first-child {
	padding: .5em 0;
}

.label {
	background: var(--main-bright-color);
	color: var(--secondary-bright-color);
	font-size: .8rem;
	padding: .2rem .4rem;
	border-radius: .2rem;
}

.label.warning {
	background: var(--error-color);
}

@media screen and (max-width: 1280px) {
	#modal_overlay > .modal {
		width: 80%;
	}

	table, table {
		font-size: .7rem !important;
		width: 100% !important;
	}

	.cbi-value > label:first-child {
/*		min-width: 12rem;*/
		padding-right: 1rem;
	}

	input:not([type]),
	input[type="text"],
	input[type="password"],
	select,
	.cbi-dropdown:not(.btn):not(.cbi-button),
	.cbi-dynlist {
		min-width: 18rem;
	}

	.cbi-dynlist > .add-item > input {
		min-width: 16rem;
	}

	.control-group {
		min-width: 18.25rem;
	}

	div[id$=".ipaddr"] > input, .cbi-value-field > div > input[type="password"] {
		min-width: 16rem;
	}
}

@media screen and (max-width: 992px) {
	#modal_overlay > .modal {
		width: 90%;
	}

	body.active {
		overflow-y: hidden;
	}

	body[data-page=""] > #menubar > h2 {
		display: none;
	}

	body[data-page=""] > .main .cbi-value-title {
		text-align: left;
	}

	#menubar {
		background-image: unset;
		padding: 0 .5em;
	}

	#menubar > h2 {
		font-family: 'icomoon' !important;
		flex: 0 0 2em;
		display: block;
		border: 2px solid var(--secondary-bright-color);
		color: var(--secondary-bright-color);
		border-radius: .5em;
		cursor: pointer;
		font-size: 100%;
		margin: 0 1em 0 0;
	}

	#menubar > h2:hover {
		border-color: var(--secondary-grey-color);
		color: var(--secondary-grey-color);
	}

	#menubar > h2 > * {
		display: none;
	}

	#menubar > h2::before {
		content: "	\e20e";
		width: 35px;
		line-height: 35px;
		text-align: center;
		display: inline-block;
		color: inherit;
		font-size: 1.6rem;
		font-weight: normal;
	}

	#menubar > h2.active::before {
		content: "×";
		font-size: 200%;
	}

	#menubar .hostname > a {
		display: block;
		font-weight: bold;
		font-size: 2em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		text-decoration: none;
		color: var(--secondary-bright-color);
	}

	#modemenu {
		padding: .125em .25em;
	}

	#mainmenu {
		overflow-x: hidden;
		overflow-y: auto;
		max-width: 0;
		padding: 1em 0;
		transition: max-width .25s ease-in-out, padding .25s ease-in-out;
		position: fixed;
		z-index: 900;
		height: calc(100% - var(--header-height, 4rem));
	}

	#mainmenu.active {
		max-width: 15rem;
	}

	.cbi-value > label:first-child {
/*		min-width: 8rem;*/
		padding-right: .5rem;
	}

	input:not([type]),
	input[type="text"],
	input[type="password"],
	select,
	.cbi-dropdown:not(.btn):not(.cbi-button),
	.cbi-dynlist {
		min-width: 15rem;
	}

	.cbi-dynlist > .add-item > input {
		min-width: 13rem;
	}

	div[id$=".ipaddr"] > input, .cbi-value-field > div > input[type="password"] {
		min-width: 13rem;
	}

	.control-group {
		min-width: 15.25rem;
	}

	#diag-rc-output > pre {
		font-size: 1rem;
	}
}

@media screen and (max-width: 800px) {
	body {
		font-size: 1rem;
	}

	h2 {
		font-size: 2rem;
	}

	select,
	input {
		font-size: .9rem;
	}

	body[data-page=""] #maincontent {
		min-width: 90%;
		padding: .5rem 1rem 2rem 1rem;
	}

	body[data-page=""] > .main .cbi-value {
		padding: 0;
	}

	body[data-page=""] > .main form > div:nth-last-child(1) {
		margin-top: 2rem;
	}

	body[data-page=""] > .main .cbi-value-title {
		width: 100% !important;
		font-size: 1.2rem;
	}

	#maincontent {
		padding: 1em 1em 1em;
	}

	.cbi-section {
		padding: 1rem;
	}

	#tabmenu {
		margin: -1em -2em 2em;
	}

	#tabmenu > .cbi-tabmenu > li > a {
		font-size: .9rem;
	}

	.cbi-tabmenu > li > a {
		padding: .375em .5rem;
		font-size: .9rem;
	}

	.main > #mainmenu > .nav > li > a {
		font-size: 1.3rem;
	}

	.main > #mainmenu > .nav > li > ul > li > a {
		font-size: 1.1rem;
	}

	table {
		display: flex;
		flex-direction: column;
	}

	tr {
		display: block;
/*		margin-bottom: .5em;*/
		padding-bottom: .5em;
	}

	tr.cbi-section-table-titles[data-title]::before,
	tr.cbi-section-table-titles,
	tr.cbi-section-table-descr {
		display: none;
	}

	tr[data-title]::before {
		display: block;
		font-weight: bold;
		border-top: none;
		padding: .4em 0;
		font-size: 110%;
	}

	td {
		display: block;
		border-top: none;
		text-align: left !important;
		padding: .2em 0;
	}

	th, table-titles {
		display: none;
	}

	td[data-title] {
		position: relative;
		padding: .2em 0 .2em 40%;
	}

	td[data-title]::before {
		content: attr(data-title) ": ";
		white-space: nowrap;
		font-weight: bold;
		width: 40%;
		overflow: hidden;
		text-overflow: ellipsis;
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		padding: .2em 0;
		text-align: left;
		display: inline-flex;
		align-items: center;
	}

	td[data-title]::after {
		content: "";
		width: 2em;
		position: absolute;
		left: calc(40% - 2em);
		top: 0;
		bottom: 0;
		display: block;
		background: linear-gradient(90deg, rgba(255, 255, 255, 0), var(--secondary-bright-color) 90%);
	}

	input:not([type]),
	input[type="text"],
	input[type="password"],
	select,
	.cbi-dropdown:not(.btn):not(.cbi-button),
	.cbi-dynlist {
/*		min-height: calc(2.2rem + 2px);
		line-height: 2.2rem;
		font-size: 1.2rem;*/
		min-width: 10rem;
	}

	.cbi-dynlist > .add-item > input {
		min-width: 8rem;
	}

	.control-group {
		flex: 1;
		min-width: 10.25rem;
	}

	div[id$=".ipaddr"] > input, .cbi-value-field > div > input[type="password"] {
		min-width: 8rem;
		width: 100%;
	}

/*	button, .btn {
		line-height: 1.8rem;
		font-size: 1.2rem;
	}

	select {
		padding: .4em 0;
	}
*/
	.cbi-value > label:first-child {
		padding: 0 0 .5em 0;
		flex: 1 0 100%;
		text-align: left;
		background-color: var(--third-grey-color);
	}

	.cbi-value > .cbi-value-field {
		flex: 1 0 100%;
		display: flex;
		flex-direction: column;
		max-width: 100%;
	}

	.cbi-value > .cbi-value-field > div[id] {
		display: flex;
		flex-direction: row;
	}
	.cbi-value > .cbi-value-field > div.cbi-dynlist {
		flex-direction: column;
	}

	.cbi-value > .cbi-value-field > div[id] > input:not([type="checkbox"]),
	.cbi-value > .cbi-value-field > div[id] > select,
	.cbi-value > .cbi-value-field > div[id] > .cbi-filebrowser.open {
		flex: 1;
		width: 100%;
	}

/*	.cbi-dynlist .item::after,
	.cbi-dynlist .add-item > .btn {
		line-height: 2em;
		flex-basis: 2rem;
		width: 2rem;
	}
*/
	.ifacebadge.large {
		font-size: .9rem;
	}

	.control-group > *,
	.control-group > .cbi-dropdown > ul > li {
		flex: 1;
		white-space: normal;
		word-wrap: break-word;
	}

	.cbi-page-actions .cbi-dropdown,
	.cbi-page-actions .cbi-button-apply:first-child {
		flex-basis: 100%;
	}

/*	.cbi-checkbox {
		margin: .25rem;
	}*/

	.cbi-tooltip {
		font-size: 1rem;
		box-shadow: 0 0 4px rgba(0, 0, 0, .7);
	}
}
