:root {
	--main-bright-color: #0099cc;
	--main-dark-color: #404040;
	--main-grey-color: #eee;
	--secondary-bright-color: #ffffff;
	--secondary-dark-color: #808080;
	--secondary-grey-color: #d4d4d4;
	--third-grey-color: #f6f6f6;
	--error-color: #cc4444;
	--danger-color: #f09090;
	--warning-color: #f0e269;
	--notice-color: #fff;
	--info-color: #62cffc;
	--success-color: #5cb85c;
	--main-green-color: #00ff00;
	--secondary-green-color: #90f090;
	--font-body: "Microsoft Yahei", "WenQuanYi Micro Hei", "sans-serif", "Helvetica Neue", "Helvetica", "Hiragino Sans GB";
	--header-height: 4rem;
	--base-font-size: 0.8rem;
}

@font-face {
	font-family: 'icomoon';
	src: url('fonts/font.eot');
	src: url('fonts/font.eot') format('embedded-opentype'),
	url('fonts/font.ttf') format('truetype'),
	url('fonts/font.woff') format('woff'),
	url('fonts/font.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}
